@import "./variables.css";
.actionBar {
  box-sizing: border-box;
  padding: var(--box-spacing);
  transition-duration: 1s;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  height: calc(var(--actionBar-height) + var(--box-spacing));

  & > * {
    margin: 0 8px;
  }

  & .favorite {
    display: inline-block;
    padding: 0 8px 8px 0;
  }

  &.displayMore {
    opacity: 1;
    visibility: visible;
  }
}
