@import "./variables.css";
#kwalitoInjectApp {
  box-sizing: border-box;
  overflow: hidden;
  transition: background 1s;
  background-color: transparent;
  height: var(--app-height);
  z-index: 999;

  & .tabs {
    transition-duration: 1s;
    opacity: 0;
    visibility: hidden;
  }

  & .reasons, & .comments {
    transition-duration: 1s;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    height: calc(var(--reasons-height) + 2 * var(--box-spacing));
    overflow-y: auto;
    & > * {
      margin-top: calc(2 * var(--box-spacing));
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &.displayMore {
    background-color: var(--kwalito-red);
    &.fitsMe {
      background-color: var(--kwalito-green);
    }
    & .tabs, & .reasons, & .comments {
      opacity: 1;
      visibility: visible;
    }
  }

  & .comments {
    text-align: center;
    & .comment {
      color: var(--kwalito-red);
      &.positive {
        color: var(--kwalito-green);
      }
    }
  }
}