@import "./variables.css";
.logo {
  box-sizing: border-box;
  height: calc(var(--logo-height) + 2 * var(--box-spacing));
  padding: var(--box-spacing);
  z-index: 999;
  & .img {
    margin: auto;
    transition: transform 1s;
    transform: rotate(0deg);
    height: calc(var(--logo-height) - var(--box-spacing));
    width: calc(var(--logo-height) - var(--box-spacing));
    background-color: var(--kwalito-red);
    padding: var(--box-spacing);
    border-radius: calc((var(--logo-height) / 2) + var(--box-spacing));
    & svg {
      height: inherit;
      width: inherit;
      color: white;
      fill: white;
    }
  }
  &.fitsMe {
    & .img {
      background-color: var(--kwalito-green);
    }
  }
  &.displayMore {
    & .img {
      transform: rotate(360deg);
    }
  }
}
