.normal input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
